<h1>Levels</h1>
<ul>
<% @levels.each do |level| %>
<li><%= link_to 'Level '+level.number.to_s, level %></li>
<% end %>
</ul>

<!--<table>
  <tr>
    <th>Number</th>
    <th>Data sound</th>
    <th>Data processing</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%= level.number %></td>
    <td><%= level.data_sound %></td>
    <td><%= level.data_processing %></td>
    <td><%= level.description %></td>
    <td><%= link_to 'Show', level %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level', new_level_path %>-->
